@import "../global/geral.css";

header {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  padding: 20px;
}

section {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  margin-top: 32px;
  width: 360px;
}

label {
  display: block;
}

input {
  margin-top: 4px;
  width: 100%;
  padding: 16px 10px;
  background-color: var(--c01);
  border-radius: 8px;
  border: 1px solid #E7E6EB;
}

.input-container {
  padding: 16px 8px;
}

.sign-up-btn {
  padding: 16px 10px;
  width: 100%;
  margin-top: 32px;
  background-color: var(--cBase01);
  border-radius: 8px;
  font-size: 1.125rem;
  line-height: 1;
  transition: 0.2s ease;
}

.sign-up-btn:hover {
  background-color: #7f16ab;
}

@media(max-width:600px) {
  header {
    justify-content: center;
  }
}

@media(max-width: 400px) {
  form {
    width: 100%;
  }
}